@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


body{

margin:0;
height:100vh;
overflow:hidden;

background:linear-gradient(
135deg,
#2b1055,
#7597de
);

font-family:Arial;

}



/* Inicio */

.inicio{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

}



h1{

font-family:'Great Vibes', cursive;

font-size:60px;

text-shadow:
0 0 15px white;

}



button{

padding:15px 40px;

border:none;

border-radius:30px;

font-size:20px;

background:#fff;

color:#54258a;

cursor:pointer;

box-shadow:
0 0 20px white;

}



button:hover{

transform:scale(1.1);

}



/* Luciérnagas */


.luciernagas span{

position:absolute;

width:8px;
height:8px;

background:#fff7a8;

border-radius:50%;

box-shadow:
0 0 15px yellow;

animation:volar 8s infinite;


}


.luciernagas span:nth-child(1){left:20%;top:80%;}
.luciernagas span:nth-child(2){left:40%;top:50%;}
.luciernagas span:nth-child(3){left:70%;top:70%;}
.luciernagas span:nth-child(4){left:80%;top:30%;}
.luciernagas span:nth-child(5){left:30%;top:20%;}
.luciernagas span:nth-child(6){left:90%;top:80%;}



@keyframes volar{


50%{

transform:translateY(-100px);

opacity:1;

}


100%{

opacity:.2;

}

}





/* Fotos */

.recuerdos{

display:none;

}



.recuerdos img{

position:absolute;

width:150px;

height:150px;

object-fit:cover;

border-radius:15px;

box-shadow:0 0 20px white;

}




.recuerdos img:nth-child(1){
top:10%;
left:10%;
}

.recuerdos img:nth-child(2){
top:15%;
right:10%;
}

.recuerdos img:nth-child(3){
bottom:10%;
left:15%;
}

.recuerdos img:nth-child(4){
bottom:15%;
right:15%;
}

.recuerdos img:nth-child(5){
top:45%;
left:5%;
}

.recuerdos img:nth-child(6){
top:45%;
right:5%;
}




/* Carta */


.carta{

display:none;

position:absolute;

top:50%;
left:50%;

transform:translate(-50%,-50%);

background:#fff8f0;

width:350px;

padding:30px;

border-radius:20px;

text-align:center;

box-shadow:
0 0 30px white;


}



.carta h2{

font-family:'Great Vibes';

font-size:40px;

color:#8b3a62;

}